# Build e assinatura
web-ext-artifacts/
*.xpi
.amo-upload-uuid
.web-extension-id

# Dependências
node_modules/

# Sistema operacional
Thumbs.db
Desktop.ini
.DS_Store

# Editores
.vscode/
.idea/

# Logs
*.log
